{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<li id="user" hidden value="{{ request.user }}"></li>
<form action="{% url 'new_post' %}" methods="post">
    <textarea id="new_post" name="new_post"></textarea>
    <div>
        <button type="submit" id="post-button" formmethod="post">post</button>
    </div>
</form>
    
{% for post in page_obj %}
    <div style="display: block; margin: 20px;">
        <a class="author" href="{% url 'profile' post.author_id %}"> {{ post.author }}</a>: 
        <div id="{{ post.id }}">
            <div>
                <div class="text">
                    {{ post.text }}
                </div>
                {% if post.author == request.user %}
                <button id="edit-{{post.id}}" class="edit" onclick="showEdit(this)">edit</button>
                {% endif %}
            </div>
            {% if user.is_authenticated %}    
                {% if post in likelist %}
                <button id="like-{{ post.id }}" class="like" onclick="like(this)">unlike</button>
                {% else %}
                <button id="like-{{ post.id }}" class="like" onclick="like(this)">like</button>
                {% endif %}
            {% endif %}
            Likes:
            <div id="like-count-{{ post.id }}" style="display: inline">
                {{ post.likes }}
            </div> 
        </div>
        <div>
            {{ post.timestamp }}
        </div>
    </div>
 
{% endfor %}

<div class="pagination">
    <span class="step-links">

    {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    
    {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">last</a>
    {% endif %}
</span>

</div>

<script type="text/babel">

    class Post extends React.Component {
        render() {
            return (
              hello 
                
            );
        }
    }
       
    
    
    class App extends React.Component {
        
        constructor(props) {
            super(props);
            this.state = {
                response: ""
                
            };
        }
        render() {
            return (
            <div>
                <input type="text" onChange={this.updateResponse} value={this.state.response} />
                <button onClick={this.Post}>Post</button>
                
        
            </div> 
            );
        }
    
       Post = (event) => {
                const text = this.state.response;
                fetch('post', {
                method: 'POST',
                body: JSON.stringify({
                    text: text
                })
            })    
            .then(response => response.json())
            .then(result => {
        });
        this.setState(state => ({
            response: ""
        }));
            
            }
        
    
        updateResponse = (event) => {
            this.setState({
                response: event.target.value
            });
            
        }
        // update state 
      
    }
    
    ReactDOM.render(<App />, document.querySelector('#app'));
    
    </script>

{% endblock %}

{% block script %}
<script src="{% static 'network/index.js' %}"></script>
{% endblock %}